@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

#navbar {
    margin-top: -4rem;
    list-style: none;
    display: flex;
    gap: 7rem;
    font-size: 19px;
    margin-left: 56%;
    font-weight: 600;
}

#navbar a {
    color: white;
}

#navbar a.active,
#navbar a:hover {
    color: #00bcd4;
    border-bottom: 2px solid #00bcd4;
    text-shadow: 0 0 5px #00c6ff, 0 0 15px #00c6ff, 0 0 30px #0072ff;
    cursor: pointer;
}

button {
    display: none;
}

.nama {
    display: inline-flex;
    gap: 6px;
    margin-top: 3rem;
    margin-left: 20rem;
    font-size: 3.7rem;
    font-weight: 600;
    color: rgb(180, 180, 180);
    text-shadow: 0 0 15px #00c6ff;
}

.nama span {
    color: #00aec5;
}

.nama:hover {
    text-shadow: 0 0 5px #00c6ff, 0 0 15px #00c6ff, 0 0 30px #0072ff;
}

.homelogo {
    display: flex;
    width: 35vw;
    margin-left: 57.3%;
    margin-top: 7rem;
    background-color: solid transparent;
}

img {
    margin-left: 4rem;
    margin-top: 2rem;
    width: 85%;
    background-color: solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px #00c6ff, 0 0 15px #00c6ff, 0 0 30px #0072ff;
}

img:hover {
    transform: scale(1.01);
}

h1 {
    font-size: 4.7rem;
    margin-left: 28rem;
    margin-top: -23%;
    text-shadow: 0 0 3px #00c6ff, 0 0 10px #00c6ff, 0 0 20px #0072ff;
}

h1 span {
    color: #00eaff;
}

.typing-text {
    margin-top: -1rem;
    margin-left: 28rem;
    font-size: 2.3rem;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "FrontEnd Developer";
    color: white;
    animation: words 20s infinite; 
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid whitesmoke;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid black;
    }
}

@keyframes words {
    0%, 20% {
        content: "FrontEnd Developer";
    }
    21%, 40% {
        content: "Cyber Security";
    }
    41%, 60% {
        content: "Data Analyst";
    }
    61%, 80% {
        content: "Software Developer"
    }
    81%, 100% {
        content: "Web Developer"
    }
}

p {
    text-align: justify;
    color: #aaa;
    font-size: 1.3rem;
    display: flex;
    background-color: solid transparent;
    font-weight: 500;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    margin-left: 28rem;
}

.tombol {
    display: flex;
    font-size: 2.8rem;
    margin-left: 54rem;
}

.tombol a {
    color: white;
    margin-top: 15rem;
    background-color: #00bcd4;
    padding: 15px 25px;
    border-radius: 15rem;
    box-shadow: 0 0 5px #00c6ff, 0 0 15px #00c6ff, 0 0 30px #0072ff;
}

.tombol a:hover {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}

@media (max-width: 768px) {
    .nama {
        font-size: 17px;
        margin-left: 32%;
    }

    img {
        margin-left: -60%;
    }

    h1 {
        font-size: 2rem;
        margin-left: 35%;
        margin-top: 2rem;
    }
    .typing-text {
        margin-left: 35%;
        font-size: 1rem;
        margin-top: 1px;
    }

    p {
        margin-left: 0.1rem;
        font-size: 9px;
        text-align: center;
        margin-top: 1rem;
    }

    button {
        display: block;
        font-size: 2rem;
        margin-left: 1rem;
        background: transparent;
        color: white;
    }

    button:hover {
        color: #00bcd4;
    }

    #navbar {
        display: none;
        margin-left: 5rem;
        margin-top: -23px;
        font-size: 1rem;
        gap: 12px;
    }

    .hidden.active {
        display: flex;
    }

    .tombol {
        margin-left: 43%;
        font-size: 10px;
    }

    .tombol a {
        padding: 5px 10px;
        width: 6rem;
        margin-top: 7rem;
    }
}